.partnership{
    margin-top: 100px;
    background-color: #D6CE93;
    margin-bottom: 25px;
}

.partnership img{
    width: 50%;
    height: auto;
    object-fit: cover;
}

.partnership .form-group input{
    width: 30vw;
    height: 40px;
    border: 1px solid gray;
}

.partnership hr{
    border: 2px solid white;
    width: 70%;
    margin: 10px auto;
}

.partnership button{
    width: 30vw;
    color: white;
    background-color: #333333;
}

.partnership button:hover{
    color: white;
    background-color: #222222;
}