.partnership{
    margin-top: 20px;
    background-color: #D6CE93;
    margin-bottom: 25px;
}

.partnership img{
    width: 50%;
    height: auto;
    object-fit: cover;
}

.partnership .form-group input[type="text"],
.partnership .form-group input[type="email"],
.partnership .form-group input[type="password"]
{
    width: 30vw;
    height: 40px;
    border: 1px solid gray;
}

.partnership .form-group input[type="file"]{
    width: 30vw;
}

.partnership hr{
    border: 2px solid white;
    width: 70%;
    margin: 10px auto;
}

.partnership button{
    width: 30vw;
    color: white;
    background-color: #333333;
}

.partnership button:hover{
    color: white;
    background-color: #222222;
}

@media screen and (max-width: 900px) {
    .partnership img{
        display: none;
    }
    .partnership .form-group,
    .partnership button{
        width: 70vw;
    }
    .partnership .form-group input{
        width: 100% !important;
    }
}